* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.container > .rowSection {
    width:1200px;
    margin:100px auto;
}

.container > .rowSection > .mainSection {
    width:100%;
}

.container > .rowSection > .mainSection > .rowContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide {
    width:550px;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide h1 {
    margin:10px 0px;
    padding:10px 0px;
    font:bolder 45px sans-serif;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide p {
    margin:10px 0px;
    padding:10px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide p:nth-child(3) {
    color:#989898;
    font-size: 16px;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide > div button {
    margin:0px;
    padding:10px 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    background-color: black;
    color:#e4e4e4;
    border:3px solid #ffb6b6;
    border-radius: 20px;
    cursor: pointer;

    box-shadow: 0px 0px 10px #ffb6b6;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide > div a {
    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.container > .rowSection > .mainSection > .rowContent > .leftSide > div a img {
    width:50px;
    filter: drop-shadow(0px 0px 3px #a704ff);
}

.container > .rowSection > .mainSection > .rowContent > .rightSide {
    width:550px;

    background-color: rgba(183, 248, 202, 0.248);
    border-radius: 20px;
}

.container > .rowSection > .mainSection > .rowContent > .rightSide {
    height:550px;

    background-image: url('img/3.png'),url('img/girl-image.png'),url('img/2.png'),url('img/1.png'),url('img/6.png');
    background-size:160px 130px,300px,150px,100px;
    background-repeat: no-repeat;
    background-position:100px 400px,bottom center,100px 60px,60px 220px,right 100px;
}


.container > .rowSection > .mainSection > .rowUn {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container > .rowSection > .mainSection > .rowUn > .col {
    border:3px solid #e0e0e0;

    font-family: Arial, Helvetica, sans-serif;
    width:300px;
    padding:30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > .rowSection > .mainSection > .rowUn > .col:nth-child(1) {
    border-left: 0px;
    border-right:0px;
}

.container > .rowSection > .mainSection > .rowUn > .col:nth-child(2) {
    border-right: 0px;
}

.container > .rowSection > .mainSection > .rowUn > .col:nth-child(3) {
    border-right: 0px;
}

.container > .rowSection > .mainSection > .rowUn > .col:nth-child(4) {
    border-right: 0px;
}

.container > .rowSection > .mainSection > .rowUn > .col img {
    width:90px;
}

.container > .rowSection > .mainSection > .rowUn > .col h2 {
    margin:10px 0px 5px 0px;
}

.container > .rowSection > .mainSection > .rowUn > .col p {
    color:#959595;
}







